@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Inter', sans-serif;
}

body {
  color: theme('colors.foreground');
  background: #000000;
  font-family: var(--font-sans);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}